{% extends "base.html" %}
{% block sideBarContent %}

<b>Credentials and regions</b>

<p>&nbsp;</p>

{{ tabelle_logins }}

<p>&nbsp;</p>

<b>Erase your personal data inside Octopus</b>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center">
      <form action="/persoenliche_datan_loeschen" method="get">
        <input type="submit" value="erase all your personal data inside Octopus">
      </form>
    </td>
  </tr>
</table>

<b>Create new region data</b>

<p>&nbsp;</p>

<p><font color="green">Here you can import your credentials into Octopus</font></p>

<p>&nbsp;</p>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center" valign="middle">
      <a href="http://aws.amazon.com"><b>Amazon S3</b></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://open.eucalyptus.com"><b>Eucalyptus Walrus</b></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://code.google.com/apis/storage/"><b>Google Storage</b></a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="ec2">
        <input type="submit" value="create account">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="eucalyptus">
        <input type="submit" value="create account">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="googlestorage">
        <input type="submit" value="create account">
      </form>
    </td>
  </tr>
</table>

{{ eingabefelder }}

{{ input_error_message }}

{{ port_warnung }}

{% endblock %}
