{% extends "base.html" %}
{% block sideBarContent %}

<center>

<table width="95%" border="0">
<tr>
<td align="center"><h1>Welcome to Octopus</h1></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Octopus is a software service, designed to help you working with cloud storage services that are compatible with the Amazon S3 service</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">The source code and documentation is available at
the <a style="color:blue" href="http://code.google.com/p/octopuscloud/">Octopus project site</a></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Octopus is not a marketplace for cloud storage resources</td>
</tr>

{% endblock %}
