{% extends "base.html" %}
{% block sideBarContent %}

<center>

<table width="95%" border="0">
<tr>
<td align="center"><h1>Willkommen bei Octopus</h1></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Octopus ist eine internet-basierte Anwendung um mit Cloud-Speicherdiensten zu arbeiten, die kompatibel zu Amazon S3 sind</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Der Quellcode und Dokumentation ist auf der
<a style="color:blue" href="http://code.google.com/p/octopuscloud/">Octopus Projekt Seite</a> verf&uuml;gbar</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Octopus ist kein Marktplatz f&uuml;r Cloud-Ressourcen</td>
</tr>

{% endblock %}
